TELEGRAM_CHAT_ID=""
TELEGRAM_BOT_TOKEN=""

XAI_API_KEY=""
VENICE_API_KEY=""
OPENAI_API_KEY=""
GITHUB_API_KEY=""
ANTHROPIC_API_KEY=""

RAILWAY_TOKEN=""
# you don't need the rest unless you want to run `railway ssh ...`
RAILWAY_PROJECT_ID=""
RAILWAY_SERVICE_ID=""
RAILWAY_ENVIRONMENT_ID=""